*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 30px; */
}
.box{
    height: 200px;
    width: 200px;
}
.box:hover{
    anchor-name: --some-anchor;
}
.red{
    background-color: red;
    
}
.blue{
    background-color:  blue;
    
}
.green{
    background-color: green;
}
.anchor{
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: anchor(top);
    left: anchor(left);
    height: 50px;
    width: 60px;
    position-anchor:--some-anchor ;
    transition: all 0.3s;
}