*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: fff;
}
html,body{
    height: 100%;
    width: 100%;
    /* display: flex; */
}

/* #box{
    width: 200px;
    height: 200px;
    background-color: rgb(180, 75, 75);
    display: flex;
} */

main{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}
h1{
    font-size: 70px;
    background-color: lightseagreen;
    padding: 40px 50px;
    border-radius: 10px;
    font-family: monospace;
}   
button{
    padding: 10px 20px;
    background-color:crimson;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
button:hover{
    background-color:green;
}
button:active{
    scale: 0.95;
}