*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
body{
    
    background-image: url(https://images.unsplash.com/photo-1763848841998-1aa3349d3c36?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw0N3x8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;

} 
:root{
    --x:400px;
    --y:400px;
}
.box{
    height: 100%;
    width: 100%;
    border: 1px solid white;
    /* background: linear-gradient(in hsl to right,white,red,purple); */
    background: radial-gradient(150px at var(--x) var(--y),rgb(255,255,255),rgb(0,0,0,));
}