*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
/* h1{
    color: blue;
} */

#box{
    width: 100px;
    height: 100px;
    background-color: red;
}